{% extends 'base.html' %}


{% block content %}
<div class="overflow-hidden overflow-x-auto container mx-auto p-2">
   <div class="pb-8 pt-4">
      <p class="text-"><span class="font-bold text-6xl font-style mr-2">{{ guests|length }}</span> confirmed guests.</p>
   </div>
   <table class="min-w-full text-left text-sm font-light rounded-xl overflow-hidden">
      <thead class="border-b bg-pink-500 font-medium">
         <tr>
            <th scope="col" class="px-6 py-4">No.</th>
            <th scope="col" class="px-6 py-4">Name</th>
            <th scope="col" class="px-6 py-4">Phone</th>
            <th scope="col" class="px-6 py-4">Email</th>
         </tr>
      </thead>
      <tbody>
         
         {% for guest in guests %}
            <tr class="border-b bg-neutral-100">
               <td class="whitespace-nowrap px-6 py-4 font-medium">{{ forloop.counter }}</td>
               <td class="whitespace-nowrap px-6 py-4">{{ guest.name }}</td>
               <td class="whitespace-nowrap px-6 py-4">{{ guest.phone }}</td>
               <td class="whitespace-nowrap px-6 py-4">{{ guest.email }}</td>
            </tr>
         {% endfor %}
            
      </tbody>
   </table>
</div>
{% endblock content %}
   