{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <meta name="description" content="Sheila introduces Vernyuy - Online. Learn about Sheila, Vernyuy, and Sunjo.">
   <meta name="keywords" content="sheilaintroducesvernyuyesunjo, sheila, vernyuy, sunjo, online">
   <meta name="author" content="Your Name">
   
   <title>Sheila Introduces Vernyuy</title>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Poppins:wght@300;400;500;600;700;800;900&family=Style+Script&display=swap"
      rel="stylesheet">
   <script src="https://cdn.tailwindcss.com"></script>
   <script>
      tailwind.config = {
         theme: {
            extend: {
               colors: {
                  clifford: '#da373d',
               },
               fontFamily: {
                  body: ['Poppins', 'sans-serif'],
                  cursive: ['Euphoria Script', 'cursive'],
                  style: ['Style Script', 'cursive'],
               }
            }
         }
      }
   </script>
   <style>
      .glassmorphism-bg {
         background: rgba(255, 255, 255, 0.3);
         backdrop-filter: blur(10px);
         border-radius: 8px;
      }
   </style>
</head>

<body class=" font-body scroll-smooth bg-gradient-to-br from-[#94b3e9] via-[#e9b7e3] to-white h-screen">

{% include 'nav.html' %}

{% block content %}{% endblock content %}

</body>

</html>