@tailwind base;
@tailwind components;
@tailwind utilities;

main.main {
    background-image: url("../images/bg.webp");
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}

.glassmorphism-bg {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

[x-cloak] {
   display: none;
}